.container {
      width: 500px;
      height: fit-content;
      background-color: aliceblue;
      border-radius: 25px;
      border: solid 2px rgb(0, 26, 255);
      margin: 20px;
      padding: 40px;
}

span {
      color: navy;
    }